POSTGRES_USER=radreise
POSTGRES_PASSWORD=change-this-production-password
POSTGRES_DB=radreiseplaner

APP_DOMAIN=example.com
NEXT_PUBLIC_APP_URL=https://example.com
NEXT_PUBLIC_BUILD_DATE=2026-06-03

APP_IMAGE_NAME=radtour-planer-app
APP_IMAGE_TAG=v0.3.0
POSTGIS_IMAGE=postgis/postgis:16-3.4

HTTP_PORT=80
HTTPS_PORT=443
